In [1]:
import warnings
warnings.simplefilter('ignore', FutureWarning)

from pandas import *

#pandas.set_option('display.max_rows', None)

pandas.__version__

'0.20.3'

# A bit of analysis of runCambridge results

When we were discussing the best female/male club runner in the ERC meeting I realised I didn't have a good idea of who should be nominated. Later I realised I could probably get the results from Run Cambridge and get a better idea so I asked Andy Irvine and he provided a dump of all the results from Oct 2015 - Sept 2016.


First load all the results downloaded from runCambridge into the analysis. I haven't done any data cleanup as it all looks pretty good. As this is just for guidance I didn't think it was worth the effort.

Show what columns are available in the data set.

BTW df is just a name I have given the dataframe, and a dataframe is like a table that has been created from the data dump i.e. it has columns and rows.

In [2]:
df = read_excel('runCambridgeResults2015-2016.xlsx')
df.columns

Index(['race id', 'race type', 'start date', 'finish date', 'name',
       'subevent num', 'subevent name', 'distance', 'distance units',
       'accurate', 'venue', 'url', 'runner id', 'runner name', 'gun time',
       'position', 'chip time', 'm/f position', 'status', 'pb', 'category',
       'category position'],
      dtype='object')

Show the distinct race names and the number of results per race. Unsurprisingly Cambridge and Wimpole parkruns have the most results.

In [3]:
df['name'].value_counts()

Cambridge parkrun                                1469
Wimpole Estate parkrun                            957
Cambridge Half Marathon                           129
Kevin Henry 5K League - C&C                       115
Kevin Henry 5K League - Cambridge Tri              92
Kevin Henry 5K League - Ely Runners                80
Cambridgeshire Cross-Country Championships         79
Huntingdon parkrun                                 76
Peterborough parkrun                               70
Endure 24                                          69
Kevin Henry 5K League - Newmarket Joggers          59
Perkins Great Eastern Run                          55
SEAA (Southern) XC Championships                   53
Cambridge Cambourne 10K                            53
Kevin Henry 5K League - Haverhill RC               52
Kevin Henry 5K League - Saffron Striders           48
SEAA 12 & 6 Stage Road Relay Championships         48
C&C Boxing Day Run                                 46
National Cross Country Championships               38
Frostbite League - St Neots                        36
English National Road Relays                       36
Cambridge Town and Gown 10K                        35
Abington 10k                                       35
St Neots Riverside Half Marathon                   35
Ely New Year's Eve 10k                             34
Girton 5K                                          34
The Birketts Round Norfolk Relay                   34
Wimpole Belts 10k                                  33
The Boundary Run                                   30
Virgin Money London Marathon                       30
                                                 ...
Endurancelife CTS North York Moors Ultra            1
Milton Keynes Running Festival Half Marathon        1
San Sebastian Marathon                              1
Lowestoft parkrun                                   1
Ely Festive 5K                                      1
Ross Peers East Cambs Half Marathon                 1
Littleport 10k                                      1
Eye 10K                                             1
Clermont Waterfront parkrun                         1
Zurich Marato Barcelona                             1
Harlow parkrun                                      1
Bright 10                                           1
Barney Memorial 5K                                  1
St. Annes Park Run                                  1
Chelmsford Marathon                                 1
Vitality Reading Half Marathon                      1
Conkers parkrun                                     1
Kent Roadrunner Marathon                            1
Kings Lynn parkrun                                  1
Sewerby parkrun                                     1
Plusnet Yorkshire Marathon                          1
Milton Keynes Winter Half Marathon                  1
Zary parkrun                                        1
Warrington parkrun                                  1
MBNA Chester Marathon                               1
Waterside 10k                                       1
Queen's parkrun                                     1
Bridge of the Gods Half Marathon                    1
La Very Chantilly                                   1
Manchester Half Marathon                            1
Name: name, Length: 233, dtype: int64

Total number of results in data set.

In [4]:
totalNumResults = len(df)
totalNumResults

5064

If I focus on what we might consider club races and only include races with the text C&C or League or Championships or Cambourne or Relay in the name then I get this many results. I've created a new dataframe here called justCCraces.

In [5]:
justCCraces = df[df['name'].str.contains('C&C|Frostbite|Kevin Henry|Championships|Cambourne|Relay')]
len(justCCraces)

1016

And these are the races in my new result set.

In [6]:
justCCraces['name'].value_counts()

Kevin Henry 5K League - C&C                   115
Kevin Henry 5K League - Cambridge Tri          92
Kevin Henry 5K League - Ely Runners            80
Cambridgeshire Cross-Country Championships     79
Kevin Henry 5K League - Newmarket Joggers      59
SEAA (Southern) XC Championships               53
Cambridge Cambourne 10K                        53
Kevin Henry 5K League - Haverhill RC           52
SEAA 12 & 6 Stage Road Relay Championships     48
Kevin Henry 5K League - Saffron Striders       48
C&C Boxing Day Run                             46
National Cross Country Championships           38
Frostbite League - St Neots                    36
English National Road Relays                   36
The Birketts Round Norfolk Relay               34
Frostbite League - March                       26
The Hereward Relay                             24
Frostbite League - Hunts AC                    21
Frostbite League - BRJ                         17
Frostbite League - Riverside Runners           17
Frostbite League - Bushfield                   16
Frostbite League - Bourne                      11
BMAF Cross-Country Championships                5
British Masters Road Relays                     4
IAAF World Half Marathon Championships          4
BMAF 10K Championships                          2
Name: name, dtype: int64

### Top 40 club runners
So in that case here is the top 40 runners with the most occurrences for club races. There is no sex column in the data so it's male and female combined.

In [7]:
justCCraces['runner name'].value_counts().head(40)

Ben Chamberlain                16
Alex Eggeman                   12
Gerald Meah                    12
Rachael Leah                   11
Ian Richardson                 11
Miles Benyan                   11
Charlie Ritchie                11
Glyn Smith                     11
Andy Irvine                    11
John Ferguson                  10
Becca Frake                    10
Ben Jones                       9
Jonathan Escalante-Phillips     9
Chris Hurcomb                   8
Martyn Brearley                 8
Tim Long                        8
Mike Brentnall                  8
Andrew Shields                  8
Neil Costello                   8
Claire Somerton                 8
Claire Wilson                   8
Jen Richardson                  8
Alex Geoghegan                  8
Kerion Hunt                     7
Kevin O'Holleran                7
Margaret Phillips               7
Mary Twitchett                  7
Alex Downie                     7
Rosa Sampson Geroski            7
Dave Mail                       7
Charlie Wartnaby                7
Michael Moore                   7
Kristoffer Semple               7
Liam O'Grady                    7
Patrick O'Hare                  7
Carla Brown                     7
Karen Richardson                6
Isabelle Lemasson               6
Pauline Blake                   6
Jo Eggeman                      6
Name: runner name, dtype: int64

### Excluding Parkrun
Out of curiosity, I'm going to do the same but just exclude Parkrun. I'm searching for 'arkrun' because it's case sensitive, then reversing it with the '~'. I've created another new dataframe here called notParkrun.

So now the number of results is greater.

In [8]:
notParkrun = df[~df['name'].str.contains('arkrun')]
len(notParkrun)

2354

And the list of runners has changed a bit.

In [9]:
notParkrun['runner name'].value_counts().head(40)

Ian Richardson                 54
Karen Richardson               48
Ben Chamberlain                39
Rachael Leah                   35
Gerald Meah                    30
Andy Irvine                    25
Paul Jones                     25
Chris Hurcomb                  25
Jen Richardson                 24
Matt Slater                    24
Glyn Smith                     24
Charlie Wartnaby               23
Andrew Shields                 23
John Ferguson                  23
Mike Brentnall                 23
Isabelle Lemasson              23
Kevin O'Holleran               22
Daniel Kitchie                 21
Charlie Ritchie                21
Alex Geoghegan                 19
Chris Darling                  18
Jonathan Escalante-Phillips    18
Axel Finke                     18
Martyn Brearley                18
Dave Mail                      17
Pauline Blake                  17
Katherine Hymers               17
Paula Kessler                  17
Carmel McEniery                17
Sam Lewsey                     17
Alex Downie                    17
Kristoffer Semple              16
Richard Lyle                   16
Jon Anderson                   16
Anna Riu                       16
Paul Makowski                  16
Neville Hawkins                16
Tim Long                       15
Becca Frake                    15
Alex Eggeman                   15
Name: runner name, dtype: int64

### All races
And for completeness let's just look at all the results using the original dataframe.

In [10]:
df['runner name'].value_counts().head(80)

Ian Richardson                 98
Karen Richardson               78
Ben Chamberlain                77
Rachael Leah                   73
Mike Brentnall                 72
Pauline Blake                  69
Jen Richardson                 65
Chris Hurcomb                  57
Andy Irvine                    55
Paul Jones                     54
Margaret Phillips              51
Scott White                    50
Alex Geoghegan                 49
Gerald Meah                    49
Julie Stringer                 48
Jonathan Escalante-Phillips    47
Andrew Taylor                  46
Steve Anderson                 45
Mike Difranco                  45
Chris Darling                  45
Martyn Brearley                45
Andrew Parsons                 42
Andrew Unsworth                42
Karl Jones                     41
Joseph Philip                  41
Avril Monmont                  40
Sean Beeby                     40
Alex Downie                    39
Carmel McEniery                38
Anette Laver                   37
                               ..
Mary Holmes                    29
Alex Eggeman                   28
Charlie Ritchie                28
Andrew Shields                 28
John Ferguson                  27
Steve Giles                    27
Richard Lyle                   26
Diana Braverman                26
Julia Hudson                   26
Sam Lewsey                     26
Katie Tween                    26
Suzy Tautz                     25
Lynn Roberts                   25
Jo Eggeman                     25
Tim Long                       24
Matt Slater                    24
Liam O'Grady                   23
Charlie Wartnaby               23
Isaac Pembery                  23
Kevin O'Holleran               23
Stuart Matthews                23
Andres Arcia                   23
Andy Gardiner                  22
Alison Summers                 22
Jenny Walsh                    22
Elliot Mepham                  22
Jayne Arthur                   21
Miles Benyan                   21
Amy Cope                       21
Anna Riu                       20
Name: runner name, Length: 80, dtype: int64